<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post 타이틀</title>
    <link rel = "stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrapicons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
  <div class="container">
    <h1>ToDo 추가</h1>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        등록
                    </button>
                </form>
            </div>
        </div>
    </div>
  </div>

</body>
</html>